<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>
        <article>
            <time>published: 16.09.2022, 12:14</time>
            <h2><a href="">My First Post</a></h2>
            <p>Nature. Climate change. How the weather looks now!</p>
            </article>

        <article>
            <time>published: 16.09.2022, 15:14</time>
            <h2><a href="">My Second Post</a></h2>
            <p>WildLife..! </p>
        </article>
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
    </body>
</html>